# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (c) 2025-2026 Nicola Vittorio Francesconi, AKA ilfrick

ALPACA_API_KEY=
ALPACA_API_SECRET=
IBKR_ACCOUNT=
TRADING_MODE=paper
ALERTMANAGER_SMTP_SMARTHOST=
ALERTMANAGER_SMTP_FROM=
ALERTMANAGER_SMTP_USERNAME=
ALERTMANAGER_SMTP_PASSWORD=
ALERTMANAGER_SMTP_REQUIRE_TLS=true
ALERTMANAGER_SMTP_HELLO=
ALERTMANAGER_EMAIL_TO=
