# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (c) 2025-2026 Nicola Vittorio Francesconi, AKA ilfrick

__pycache__/
*.pyc
.env
.data/
.data/
/data/
models/
dev/
tmplogs.txt
ollama/
testenv/
alertmanager/alertmanager.generated.yml
